html {
  background-color : rgba(0,0,0,0.5);
}
#field {
    display : block;
    margin : auto;
    background-color: white;
    border : 10px solid black;

}

h1 {
  color : white;
}

div#control {
  text-align : center;
  margin : 10px;
}

button {
  font-size : 40px;
}

span#score{
  display : inline-block;
  width : 100px;
  font-size : 30px;
  text-align : right;
  background-color : white;
  padding : 4px;
  margin : 4px;
}

#controls {
  margin : 20px auto;
  text-align:center;
}
#controls input {
  font-size : 32px;
}
